In [41]:
import pandas as pd
import numpy as np
print( " The Version of Panda is : " , pd.__version__)

 The Version of Panda is :  2.2.2

In [42]:
import os
import pandas as pd

# Define the URL and the filename
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv"
filename = "laptops.csv"

# Check if the file already exists
if not os.path.exists(filename):
    # If it doesn't exist, download it
    df = pd.read_csv(url)
    df.to_csv(filename, index=False)  # Save the DataFrame to a CSV file
    print("Dataset downloaded and saved as", filename)
else:
    # If it exists, load it from the local file
    df = pd.read_csv(filename)
    print("Dataset loaded from", filename)

# Display the first few rows of the DataFrame
print(df.head())

Dataset loaded from laptops.csv
                                              Laptop Status   Brand  \
0  ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...    New    Asus
1  Alurin Go Start Intel Celeron N4020/8GB/256GB ...    New  Alurin
2  ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...    New    Asus
3  MSI Katana GF66 12UC-082XES Intel Core i7-1270...    New     MSI
4  HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...    New      HP

        Model            CPU  RAM  Storage Storage type       GPU  Screen  \
0  ExpertBook  Intel Core i5    8      512          SSD       NaN    15.6
1          Go  Intel Celeron    8      256          SSD       NaN    15.6
2  ExpertBook  Intel Core i3    8      256          SSD       NaN    15.6
3      Katana  Intel Core i7   16     1000          SSD  RTX 3050    15.6
4         15S  Intel Core i5   16      512          SSD       NaN    15.6

  Touch  Final Price
0    No      1009.00
1    No       299.00
2    No       789.00
3    No      1199.00
4    No       669.01

In [43]:
print ("The Total Recordes of dataset is :" , len(df))

The Total Recordes of dataset is : 2160

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [45]:
print ( f"The {len(df.Brand.value_counts())} Brands are in Dataset")

The 27 Brands are in Dataset

In [46]:
df_missing = df.isnull().sum()
print ("The number of columns with missing values is : " , len(df_missing[df_missing !=0]))

The number of columns with missing values is :  3

In [47]:
# What's the maximum final price of Dell notebooks in the dataset?
print( "The maximum final price of Dell notebooks in the dataset " ,int(df[ df["Brand"] == "Dell"]["Final Price"].max()))

The maximum final price of Dell notebooks in the dataset  3936

In [48]:
df["Screen"].median()

np.float64(15.6)

In [49]:
df["Screen"].mode()

0    15.6
Name: Screen, dtype: float64

In [50]:
df["Screen"].fillna(df["Screen"].mode()[0],inplace=True)

C:\Users\malia\AppData\Local\Temp\ipykernel_17172\1609677749.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Screen"].fillna(df["Screen"].mode()[0],inplace=True)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2160 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [52]:
df["Screen"].median()

np.float64(15.6)

In [60]:
X = df[df["Brand"] == "Innjoo"][["RAM","Storage", "Screen"]].to_numpy()
XTX = np.dot(X.T,X)
XTX_inv = np.linalg.inv(XTX)
y = [1100, 1300, 800, 900, 1000, 1100]
w = np.dot(XTX_inv , X.T) @ y
sum(w)

np.float64(91.2998806299555)